
@import url("../variables.css");

.nav-box { 
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: var(--clr);
  border: 1px solid #e3e3e3;
}
.nav-box .logo {
  flex: 30%;
}
.info-container { 
  display: flex;
  flex: 70%;
  position: relative;
}
.info-container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-left: 20%;
}

.info-container ul li { 
  position: relative;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0 25px;
  color: var(--clr);
  

}
.nav-link {
  color: var(--clr);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 100;
}