.presentation-container {
  border: 1px solid red;
}
.pre-col-1 {
    font-weight: bolder;
    border: 1px solid orange;
}
#name {
  /* background: rgb(96, 27, 196); */
  display: inline;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(96, 27, 196, 1) 19%,
    rgba(152, 87, 219, 1) 29%,
    rgba(167, 85, 212, 1) 52%,
    rgb(11, 11, 193) 76%,
    rgb(16, 16, 177) 89%
  );
  font-weight: bolder;
}
